[features]
seeds = false
skip-lint = false

[programs.localnet]
psol_privacy_v2 = "PsoL2zwoN2xC4X4Qr8MJLnkNPt7aFWfpTdKnpRxHGxd"

[programs.devnet]
psol_privacy_v2 = "PsoL2zwoN2xC4X4Qr8MJLnkNPt7aFWfpTdKnpRxHGxd"

[programs.mainnet]
psol_privacy_v2 = "PsoL2zwoN2xC4X4Qr8MJLnkNPt7aFWfpTdKnpRxHGxd"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://api.mainnet-beta.solana.com"

[[test.validator.clone]]
# Clone SPL Token program
address = "TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA"

[[test.validator.clone]]
# Clone Associated Token program
address = "ATokenGPvbdGVxr1b2hvZbsiqW5xWH25efTNsLJA8knL"
