[package]
name = "psol-privacy-v2"
version = "2.0.0"
description = "pSOL v2 Multi-Asset Shielded Pool"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]
name = "psol_privacy_v2"

[features]
default = []
cpi = ["no-entrypoint"]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
idl-build = ["anchor-lang/idl-build"]
event-debug = []

[dependencies]
anchor-lang = { version = "0.30.1", features = ["init-if-needed"] }
anchor-spl = "0.30.1"
hex = "0.4"

[dev-dependencies]
